:root {
  --day-colour1: #fdbb63;
  --day-colour2: #eb6859;
  --night-colour1: ;
  --night-colour2: ;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.icon {
  font-size: 6rem;
}

input {
  padding: 1rem;
}

button {
  padding: 1rem;
}

.form {
  display: flex;
  gap: 1rem;
}

.day {
  background-color: var(--day-colour1);
  color: var(--day-colour2);
}

.day .moon-icon {
  display: none;
}

.day input {
  background-color: var(--day-colour2);
  color: var(--day-colour1);
  border: 1px solid white;
}

.day button {
  background-color: var(--day-colour2);
  color: var(--day-colour1);
  border: 1px solid white;
}

.night {
  background-color: #17175e;
  color: #e3dfdf;
}

.night .sun-icon {
  display: none;
}

