:root {
  --bg-colour1: #f6d8b0;
  --bg-colour2: #bdd7f1;
  --day-colour1: #fdbb63;
  --day-colour2: #eb6859;
  --day-colour3: #b44336;
  --night-colour1: #b2d8fd;
  --night-colour2: #25396c;
  --night-colour3: #01111f;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(var(--bg-colour1), var(--bg-colour2));
}

main {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.icon {
  font-size: 6rem;
}

input {
  padding: 1rem;
}

button {
  padding: 1rem;
  border-radius: 1rem;
}


.input {
  display: flex;
  gap: 1rem;
}

*:focus {
  outline: none;
}

.form {
  display: flex;
  gap: 1rem;
}

.day {
  /*background-color: var(--day-colour1);*/
  background-image: linear-gradient(var(--day-colour1), var(--day-colour2));
  color: var(--day-colour3);
}

.day .moon-icon {
  display: none;
}

.day input {
  background-color: var(--day-colour2);
  color: var(--day-colour1);
  border: 1px solid var(--day-colour1);
}

.day ::placeholder {
  color: var(--day-colour1);
}

.day button {
  background-color: var(--day-colour2);
  color: var(--day-colour1);
  border: 1px solid var(--day-colour1);
}

.night {
  background-image: linear-gradient(var(--night-colour3), var(--night-colour2));
  color: var(--night-colour1);
}

.night .sun-icon {
  display: none;
}


.night input {
  background-color: var(--night-colour2);
  color: var(--night-colour1);
  border: 1px solid var(--night-colour1);
}

.night ::placeholder {
  color: var(--night-colour1);
}

.night button {
  background-color: var(--night-colour2);
  color: var(--night-colour1);
  border: 1px solid var(--night-colour1);
}

.change-tz-button {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

#footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
  justify-content: center;
  align-content: center;
  font-size: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  background-image: none;
}

a {
  padding: 0.25rem;
}

.day h3 {
  color: var(--day-colour2);
}

.night h3 {
  color: var(--night-colour2);
}

.day a {
  color: var(--day-colour2);
}

.day a:hover {
  background-color: var(--day-colour3);
  color: var(--day-colour1);
}

.day a:visited {
  color: var(--day-colour2);
}

.night a, a:visited {
  color: var(--night-colour2);
}

.night a:hover {
  background-color: var(--night-colour3);
  color: var(--night-colour1);
}

